services:
  datos_usuarios:
    image: postgres:latest
    environment:
      POSTGRES_USER: alfonso
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: bd_usuarios
    volumes:
      - ./micro-usuarios/micro-usuarios-bd.sql:/docker-entrypoint-initdb.d/micro-usuarios-bd.sql
      - volumen_usuarios:/var/lib/postgresql/18/docker
  usuarios:
    build:
      context: ./micro-usuarios
      dockerfile: Dockerfile
    environment:
      DB_HOST: datos_usuarios
      DB_NAME: bd_usuarios
      DB_USER: alfonso
      DB_PASSWORD: 1234
    depends_on:
      - datos_usuarios
    expose:
      - "8080"
    ports:
      - "8081:8080"

  datos_proyectos:
    image: postgres:latest
    environment:
      POSTGRES_USER: alfonso
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: bd_proyectos
    volumes:
      - ./micro-proyectos/micro-proyectos-bd.sql:/docker-entrypoint-initdb.d/micro-proyectos-bd.sql
      - volumen_proyectos:/var/lib/postgresql/18/docker
  proyectos:
    build:
      context: ./micro-proyectos
      dockerfile: Dockerfile
    environment:
      DB_HOST: datos_proyectos
      DB_NAME: bd_proyectos
      DB_USER: alfonso
      DB_PASSWORD: 1234
    depends_on:
      - datos_proyectos
    expose:
      - "8080"
    ports:
      - "8082:8080"

  datos_inscripciones:
    image: postgres:latest
    environment:
      POSTGRES_USER: alfonso
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: bd_inscripciones
    volumes:
      - ./micro-inscripciones/micro-inscripciones-bd.sql:/docker-entrypoint-initdb.d/micro-inscripciones-bd.sql
      - volumen_inscripciones:/var/lib/postgresql/18/docker

  inscripciones:
    build:
      context: ./micro-inscripciones
      dockerfile: Dockerfile
    environment:
      DB_HOST: datos_inscripciones
      DB_NAME: bd_inscripciones
      DB_USER: alfonso
      DB_PASSWORD: 1234
    depends_on:
      - datos_inscripciones
    expose:
      - "8080"
    ports:
      - "8083:8080"

  reportes:
    build:
      context: ./micro-reportes
      dockerfile: Dockerfile
    environment:
      # URLs de los otros microservicios
      USUARIOS_SERVICE_URL: http://usuarios:8080
      PROYECTOS_SERVICE_URL: http://proyectos:8080
      INSCRIPCIONES_SERVICE_URL: http://inscripciones:8080
    depends_on:
      - usuarios
      - proyectos
      - inscripciones
    expose:
      - "8080"
    ports:
      - "8085:8080"

  datos_participaciones:
    image: postgres:latest
    environment:
      POSTGRES_USER: alfonso
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: bd_participaciones
    volumes:
      - ./micro-participaciones/micro-participaciones-bd.sql:/docker-entrypoint-initdb.d/micro-participaciones-bd.sql
      - volumen_participaciones:/var/lib/postgresql/18/docker

  participaciones:
    build: ./micro-participaciones
    environment:
      DB_HOST: datos_participaciones
      DB_NAME: bd_participaciones
      DB_USER: alfonso
      DB_PASSWORD: 1234
    depends_on:
      - datos_participaciones
    expose:
      - "8080"
    ports:
      - "8084:8080"

  frontend:
    build: ./micro-frontend
    ports:
      - "8080:8080"

volumes:
  volumen_usuarios:
  volumen_proyectos:
  volumen_inscripciones:
  volumen_participaciones: